nav {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.nav-container {
    width: 50%;
    float: left;
    padding-left: 50px;
     @media ($screen-xs) {
        width: 70%;
		padding-left: 0;
	}
}

/*.nav {
    @media ($screen-xs) {
		width: 100%;
		margin: 15px auto;
	}
}*/

nav a {
    font-family: $secondary-font;
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: .25em; 
    text-decoration: none;
    transition: .5s background-color;
    @media ($screen-sm) {
		font-size: .7em;
		letter-spacing: 0;
	}
	@media ($screen-xs) {
		font-size: .7em;
		letter-spacing: 0;
	}
	@media (max-width: 375px) {
		font-size: .6em;
		letter-spacing: 0;
	}
 }
 
nav a:hover {
     color:$pink;
 }
 
nav ul {
     list-style-type: none;
}

nav ul li {
     display: block;
     float: left;
     margin: 0 15px;
     @media ($screen-xs) {
		display: inline;
		margin: 0px;
	}
}

.social {
    width: 40px;
    height: auto;
    position: relative;
    float: right;
    box-sizing: border-box;
    padding-right: 50px;
    @media ($screen-xs) {
        width: 30px;
		margin: 0;
		padding-right: 0;
	}
     /*@media ($screen-xs) {
		display: inline;
		float: none;
		margin: 0 15px;
	}*/
}

.social-container {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 5px 15px 0 0;
    @media ($screen-xs) {
        width: 30%;
		padding: 5px 0 0 0;
	}
    /* @media ($screen-xs) {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}*/
}

.social a {
    color: white;
}